@import url("https://fonts.googleapis.com/css?family=Open+Sans|Nova+Mono");

:root {
  --font-header: "Nova Mono", monospace;
  --font-text: "Open Sans", sans-serif;
  --color-theme: #f1fddb;
  --color-bg: #23242a;
  --color-text: #45a2ff;
  --animation-duration: 40s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--font-text);
  color: var(--color-theme);
  background: var(--color-bg);
  overflow: hidden;
  padding: 2rem 0;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .title {
    margin: 1rem 0;
    font-size: 4rem;
    font-family: var(--font-header);
  }

  .logo > img {
    margin-top: 2rem;
    max-width: 160px;
    max-height: 160px;
    left: calc(50% - 80px);
    animation: hoverGhost calc(var(--animation-duration) / 10) ease-in-out 5;
  }

  .details {
    margin-top: 1rem;
    white-space: nowrap;
    font-size: 1.4rem;
    font-family: var(--font-text);
    color: var(--color-text);
  }
}

@media only screen and (max-width: 600px) {
  .welcome {
    .title {
      font-size: 3rem;
    }
    .logo > img {
      margin-top: 1.4rem;
      max-width: 100px;
      max-height: 100px;
      left: calc(50% - 50px);
    }
    .details {
      margin-top: 0.7rem;
      font-size: 1rem;
    }
  }
}

@keyframes hoverGhost {
  40% {
    transform: translateX(5vw);
  }
  60% {
    transform: translateX(-5vw);
  }
}
